* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  pointer-events: none;
}

.hidden {
  opacity: 0;
}

.navbar-props {
  width: 100%;
  position: fixed;
}

#navbar-gradient {
  height: 150px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    white 0%,
    rgba(255, 255, 255, 0.35) 70%,
    transparent 100%
  );
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
}

#logo {
  width: 30px;
  height: 30px;
  margin-right: 390px;
}

#navbar div {
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
}

#navbar div:hover {
  color: #8034fc;
  transition: color 0.2s ease-in-out;
}

button {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

#theme-indicator {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 30px;
  text-align: left;
  color: rgb(150, 150, 150);
}

button:hover #theme-indicator {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#theme-switch {
  width: 30px;
  font-family: 'IBM Plex Sans';
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
